{% extends "layouts/main.html" %}

{% set title = "Report a problem" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Report a problem</h1>
    
    <p class="govuk-body-l">Use this service to report a problem you've experienced.</p>
    
    <p class="govuk-body">You can use this service to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>report technical issues</li>
      <li>report service problems</li>
      <li>get help with accessibility issues</li>
      <li>provide feedback about your experience</li>
    </ul>
    
    <div class="govuk-inset-text">
      This service is for reporting problems only. If you need immediate assistance, contact our support team directly.
    </div>
    
    <h2 class="govuk-heading-m">Before you start</h2>
    <p class="govuk-body">You'll need to provide:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your contact details</li>
      <li>details about the problem you experienced</li>
      <li>when the problem happened</li>
    </ul>
    
    <p class="govuk-body">It takes around 5 minutes to complete this form.</p>
    
    <a href="/user-info" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg>
    </a>
  </div>
  
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">Related</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li><a href="#" class="govuk-link">Contact support</a></li>
          <li><a href="#" class="govuk-link">Service status</a></li>
          <li><a href="#" class="govuk-link">Help and guidance</a></li>
        </ul>
      </nav>
    </aside>
  </div>
</div>
{% endblock %}